h3.mt-2 {
    color: white;
}

section.my-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-link waves-effect {
    transition: transform ease 0.3s;
  }
  
.nav-link waves-effect:hover {
transform: scale(1.2);
}