
div.controls-top {
    text-align: center;
    margin-bottom: 30px;
}

a.btn-floating {
    padding: 10px;
    border-radius: 20px;
}

.btn-secondary {
    background-color: #82b1ff !important;
}

a.btn-floating:nth-child(1) {
    margin-right: 100px;
}

